[submodule "prelude"]
	path = prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "third-party/vendor/ola"]
	path = third-party/vendor/ola
	url = https://github.com/jbellerb/libola-rs.git
